.delete__event {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    position: absolute;
    width: 28px;
    height: 28px;
    right: -13px;
    top: -20px;
    z-index: 10;
    border: none;
    cursor: pointer;
    background: $gray_0;
    border-radius: 50%;
    transition: .3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
    &:focus{
        outline: 1px solid $blue;
    }
}

.events__card{
    position: relative;
    width: 100%;
    max-width: 160px;
    &-image{
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        .poster{
            transition: .3s;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            &:hover{
                transform: scale(1.1);
            }
        }
    } 
}